.card {
  background-color: #e7e7e7;
  height: 370px;
  border-radius: $radius $radius;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.3s 0s ease-in-out;
  @include bigPhone-and-higher {
    margin: 20px;
    width: 360px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.cards-cover {
  img {
    border-radius: $radius $radius 0 0;
    height: 20rem;
    width: 100%;
    object-fit: cover;
  }
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .cards-title {
    font-size: 1.5rem;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cards-header-time {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    img {
      margin-right: 5px;
    }
  }
}
.cards-main {
  display: flex;
  padding: 1rem;
  justify-content: center;
  .cards-main-description {
    width: 60%;
    overflow: hidden;
    height: 80px;
  }

  ul {
    width: 40%;
    padding: 0 5% 0 0;
  }

  .ingredients-list {
    height: 90px;
    overflow: hidden;
  }
  .ingredient-item {
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1rem;

    span {
      font-weight: 600;
    }
  }
}
