.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
}
.card-title {
  width: 70%;
  font-size: 1rem;
}
.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: white;
  padding: 10px;
}
.content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-body {
  display: flex;

  padding: 10px;
}
.ingredient-list {
  list-style-type: none;
  width: 80%;
  padding: 5px 0;

  font-size: 0.6rem;
  text-align: left;
}

.card-title {
  height: 20px;
  margin: 0;
}
.time {
  font-size: 1rem;
  font-weight: bold;
}
.card-excerpt {
  color: black;
  width: 100%;
  font-size: 0.6rem;
  padding: 10px;
}
