.dropdown-ingredients {
  @include dropdown($blue);
}

.open-drop {
  display: none;
  flex-direction: column;
  width: 680px;
  padding: 20px;
  border-radius: 5px;
}

.ul-ingredient {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: left;
  justify-content: center;
  height: 200px;
  overflow: hidden;

  li {
    width: 30%;
    line-height: 3rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.top {
  display: flex;
  height: 30px;
  justify-content: space-between;
}
.dropdown-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  height: 70px;
  padding: 10px;
  z-index: 99999;
}

#ingredient-inp {
  @include dropdown-input($blue);
}

.scroller {
  width: auto;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: #3282f7;
  border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}
::-webkit-scrollbar-track {
  background: $blue;
  border-radius: 9px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
