// @includes
.dropdown-ingr {
  @include dropdown($blue);
}
.dropdown-app {
  @include dropdown($green);
}
.dropdown-ust {
  @include dropdown($orange);
}
.active {
  h3 {
    display: none;
  }
  i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  input {
    display: flex;
  }
  .list {
    display: flex;
  }
  flex: 0.8;
}
