.input-container {
  input {
    background-color: $grey;
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    outline: none;
    padding: 20px;
  }
  label {
    position: absolute;
    color: black;
    opacity: 0.4;
    font-weight: bolder;
    font-size: 0.89rem;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  i {
    position: absolute;
    font-size: 1.5rem;
    right: 10px;
    opacity: 0.4;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
  }
}
