.tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  // background-color: $green;
  width: 120px;
  //   max-width: auto;
  height: 40px;

  color: white;
  border-radius: $radius;
  margin: 0 10px 0 0;
  padding: 0.7rem;

  .tag-txt {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    left: 6%;
    justify-self: flex-start;
  }

  i {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    right: 5%;
    cursor: pointer;
  }
}

.tag-selected {
  color: rgb(87, 166, 179);
  font-style: italic;
}
