.message {
  background-color: $grey;
  width: 100%;
  color: $primary;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .message-txt {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }
  .message-exp {
    text-align: center;
    font-size: 1.4rem;
  }
  button {
    color: #333;
    position: absolute;
    top: 13%;
    right: 3%;
    i {
      font-weight: bolder;
      font-size: 2rem;
    }
  }
}
