header {
  color: $primary;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3%;
  margin-bottom: 5%;
  @include bigPhone-and-higher {
    font-size: 3rem;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  .logo {
    img {
      @include bigPhone-and-higher {
        width: 10rem;
      }
    }
  }
}
