.search-bar-form {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;

  width: 100%;
  @include bigPhone-and-higher {
    width: 100%;
  }
}

.cards-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 6rem;

  @include bigPhone-and-higher {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.tags-container {
  width: 100%;
  padding: 0 0 0 4%;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

.dropdowns-container {
  display: flex;
  width: 100%;
  position: relative;
  margin-left: 4%;
}

.result-msg-container {
  display: none;
  // opacity: 0;
  margin-bottom: 50px;
  justify-content: center;
  // animation: opacity 0.6s ease-in forwards;
}
