.search-bar-form {
  position: relative;
  display: flex;
  margin-bottom: 3rem;
  width: 105%;
  @include bigPhone-and-higher {
    width: 100%;
  }
}

.cards-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  @include bigPhone-and-higher {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.tags-container {
  width: 100%;
  padding: 0 0 0 4%;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

.dropdowns-container {
  display: flex;
  // width: 100%;

  display: flex;

  width: 100%;
  padding: 0 0 0 4%;
}
