.container-global {
  margin: 3% 3%;
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    padding-top: 10px;

    h1 {
      color: $primary;
      margin-top: 5px;
      font-size: 3rem;
    }
  }
  .result-msg-container {
    display: none;
    // opacity: 0;
    margin: 1rem 0;
    justify-content: center;
    // animation: opacity 0.6s ease-in forwards;
  }

  .input-container {
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .dropdowns-container {
    margin: 1rem 0;

    display: flex;
  }

  .card-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}
