@mixin dropdown() {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 15px;
  max-width: 30%;
}

@mixin dropdown-input() {
  padding: 15px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.7rem;

  &::placeholder {
    color: rgba(255, 255, 255, 0.52);
  }
}
@mixin tag($color) {
  background-color: $color;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

@mixin abs-center($top, $right, $bottom, $left, $x, $y) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($x, $y);
}

// ===================== responsive =====================

@mixin bigPhone-and-higher {
  @media screen and (min-width: $bigPhone) {
    @content;
  }
}

@mixin tablet-and-higher {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop-and-higher {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
