*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: $page-max-width;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
li {
  list-style: none;
}
