// ----- Colors -----

$primary: #d04f4f;
$orange: #ed6454;
$green: #68d9a4;
$blue: #3282f7;
$grey: #e7e7e7;

// radius
$radius: 1rem;

// Responsive
$bigPhone: 42.5rem;
$tablet: 76.8rem;
$desktop: 120rem;

$page-max-width: 192rem;
