*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 192rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

.ingredients {
  background-color: #3282f7;
}

.ustensils {
  background-color: #68d9a4;
}

.appareils {
  background-color: #ed6454;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
  }
  95% {
    opacity: 0.8;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  96% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  97% {
    opacity: 1;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  98% {
    opacity: 9.8;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
  }
  95% {
    opacity: 0.8;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  96% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  97% {
    opacity: 1;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  98% {
    opacity: 9.8;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.search-bar-form input {
  width: 90%;
  padding: 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar-form label {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 500;
  color: #0000007e;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 3rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 42.5rem) {
  .search-bar-form label {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 76.8rem) {
  .search-bar-form label {
    padding-left: 8rem;
  }
}

@media screen and (min-width: 120rem) {
  .search-bar-form label {
    padding-left: 12rem;
  }
}

.search-bar-form:focus-within label,
.search-bar-form.active-input label {
  top: -1.5rem;
  padding-left: 1.8rem;
  color: #f1f1f1;
}

@media screen and (min-width: 42.5rem) {
  .search-bar-form:focus-within label,
  .search-bar-form.active-input label {
    padding-left: 4rem;
  }
}

@media screen and (min-width: 76.8rem) {
  .search-bar-form:focus-within label,
  .search-bar-form.active-input label {
    padding-left: 8rem;
  }
}

.search-icon {
  position: relative;
  right: 10%;
  width: 20px;
}

.dropdown-ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  padding: 15px;
  max-width: 60%;
  position: absolute;
}

.dropdown-ingredients label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.dropdown-appareil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  padding: 15px;
  max-width: 60%;
  position: absolute;
  left: 140px;
}

.dropdown-appareil label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.dropdown-ustensils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  padding: 15px;
  max-width: 60%;
  position: absolute;
  left: 268px;
}

.dropdown-ustensils label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.ul-drop {
  display: none;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2%;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 200px;
  overflow: hidden;
}

.ul-drop .item {
  width: 30%;
  margin-right: 5px;
  line-height: 3rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingr-inp {
  padding: 15px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.7rem;
  display: none;
}

.ingr-inp::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.ingr-inp:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.ingr-inp::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.ingr-inp::placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.app-inp {
  padding: 15px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.7rem;
  display: none;
}

.app-inp::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.app-inp:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.app-inp::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.app-inp::placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.ust-inp {
  padding: 15px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.7rem;
  display: none;
}

.ust-inp::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.ust-inp:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.ust-inp::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.ust-inp::placeholder {
  color: rgba(255, 255, 255, 0.52);
}

.scroller {
  width: auto;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.pasive {
  display: none;
}

.resize {
  width: 100%;
}

.index {
  z-index: 99999;
}

.result-msg {
  background-color: #d04f4fbd;
  width: 85%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  color: whitesmoke;
  padding: 20px;
  font-weight: bold;
}

.result-msg div {
  text-align: center;
  width: 90%;
  padding: 10px;
}

.result-msg i {
  display: block;
  font-size: 2rem;
}

.card {
  background-color: #e7e7e7;
  height: 370px;
  border-radius: 1rem 1rem;
  cursor: pointer;
  margin: 20px 0;
  -webkit-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}

@media screen and (min-width: 42.5rem) {
  .card {
    margin: 20px;
    width: 360px;
  }
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards-cover img {
  border-radius: 1rem 1rem 0 0;
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.card-header .cards-title {
  font-size: 1.5rem;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header .cards-header-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.card-header .cards-header-time img {
  margin-right: 5px;
}

.cards-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-main .cards-main-description {
  width: 60%;
  overflow: hidden;
  height: 80px;
}

.cards-main ul {
  width: 40%;
  padding: 0 5% 0 0;
}

.cards-main .ingredients-list {
  height: 90px;
  overflow: hidden;
}

.cards-main .ingredient-item {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.cards-main .ingredient-item span {
  font-weight: 600;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  width: 107px;
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 1rem;
  margin: 0 10px 0 0;
  padding: 0.5rem;
}

.tag .tag-txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  justify-self: flex-start;
}

.tag .tag-icone {
  margin-top: 4%;
}

.tag .tag-icone i {
  text-align: center;
  font-size: 2rem;
}

.tag-selected {
  color: #57a6b3;
  font-style: italic;
}

header {
  color: #d04f4f;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3%;
  margin-bottom: 3%;
}

@media screen and (min-width: 42.5rem) {
  header {
    font-size: 3rem;
  }
}

header h1 {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 42.5rem) {
  header .logo img {
    width: 10rem;
  }
}

.search-bar-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
  width: 100%;
}

@media screen and (min-width: 42.5rem) {
  .search-bar-form {
    width: 100%;
  }
}

.cards-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 6rem;
}

@media screen and (min-width: 42.5rem) {
  .cards-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tags-container {
  width: 100%;
  padding: 0 0 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

.dropdowns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-left: 4%;
}

.result-msg-container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */